{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "require": false
  },
  "rules": {
    "no-param-reassign": 0
  },
  "extends": "eslint-config-airbnb"
}